<!-- <p>simg works!</p> -->

<section class="about">
    <div class="main">
        <img src="assets/images/ich.png" alt="">
        <div class="about-text">
            <h2>About ICHIGO</h2>
            <h5>Developer <span>& Desginer</span></h5>
            <p>
                I'm not saying I don't remember your blade. I'm saying I don't remember your heart. When you cross blades, you can tell 
                a little of what your opponent's thinking. I'm not saying you can read their mind or anything like that, but you can tell 
                what kind of resolve lies behind their blade, whether they respect you or look down on you. That kind of thing, you can 
                tell. When I'm actually fighting, there's no time to think about it, so I don't usually realize until afterwards, but in 
                general, the stronger the opponent is, the more of that "heart" seems to come across.
            </p>
            <button type="button">Let's talk</button>
            <button (click)="goToInstructor()">
                Instructor
            </button>
        </div>
    </div>
</section>

