<!-- <p>ang works!</p> -->
<section id="html">
    <div class="rev-section">
        <h2 class="title">
            React Page
        </h2>
        <p class="note">
            CSS (Cascading Style Sheets) allows you to create great-looking web pages
        </p>
        <div class="reviews">
            <div class="review">
                <div class="head-review">
                    <img src="assets/images/ret.jpg" alt="" width="250px">
                </div>
            </div>
            <div class="body-review">
                <div class="namve-review">
                    React
                </div>
                <div class="place-review">
                    Jordan Walke
                </div>
                <div class="desc-review">
                    React has been designed from the start for gradual adoption, and you can use as little or as much React as you need. 
                    Whether you want to get a taste of React, add some interactivity to a simple HTML page, or start a complex 
                    React-powered app, the links in this section will help you get started.
                    If you’re interested in playing around with React, you can use an online code playground. Try a Hello World template 
                    on CodePen, CodeSandbox, or Stackblitz.
                    If you prefer to use your own text editor, you can also download this HTML file, edit it, and open it from the local 
                    filesystem in your browser. It does a slow runtime code transformation, so we’d only recommend using this for simple 
                    demos.
                </div>
            </div>
        </div>
    </div>

    <div class="btn-container">
        <button class="btn btn-white" (click)="goToCourses()">
            Go to Courses
        </button>
    </div>
</section>


