<!-- <p>jss works!</p> -->

<section id="html">
    <div class="rev-section">
        <h2 class="title">
            JS Page
        </h2>
        <p class="note">
            JavaScript is a scripting language that enables you to create dynamically
        </p>
        <div class="reviews">
            <div class="review">
                <div class="head-review">
                    <img src="assets/images/js.jpg" alt="" width="250px">
                </div>
            </div>
            <div class="body-review">
                <div class="namve-review">
                    JS
                </div>
                <div class="place-review">
                    Brendan Eich
                </div>
                <div class="desc-review">
                    JavaScript is a scripting or programming language that allows you to implement complex features on web pages — every
                    time a web page does more than just sit there and display static information for you to look at — displaying timely
                    content updates, interactive maps, animated 2D/3D graphics, scrolling video jukeboxes, etc. — you can bet that 
                    JavaScript is probably involved. It is the third layer of the layer cake of standard web technologies, two of which
                    (HTML and CSS) we have covered in much more detail in other parts of the Learning Area.
                </div>
            </div>
        </div>
    </div>

    <div class="btn-container">
        <button class="btn btn-white" (click)="goToCourses()">
            Go to Courses
        </button>
    </div>
</section>


