p {
    text-align: right;
    align-items: center;
    font-size: large;
    font-weight: 900;
};

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    text-align: center;
    text-decoration: chocolate;
    align-items: center;
}
