#course{
    padding: 50px;
    /* background-image: url(../images/course-bg.svg); */
    background-position: top;
    background-repeat: repeat;
    background-size: cover;
}
.featured-course-container{
    display: flex;
    padding: 30px 0px;
}
.feature-course-video{
    flex: 3;
    display: flex;
    align-items: center;
}
.feature-course-video iframe{
    width: 90%;
    border-radius: 20px;
    box-shadow: 0 0 8 #626262;
}
.src{
    width: 1px;
    height: 1px;
}
.featured-course-content{
    flex: 2;
}
.gray{
    color: gray;
}
.feature-course-title{
    font-size: 1.8rem;
    text-transform: capitalize;
    color: #333333;
}
.featured-course-dese{
    color: #333333;
    margin: 10px 0px;
    line-height: 25px;
}
.featured-course-icon-container{
    margin: 30px 0px;
}
.icons-row{
    display: flex;
    justify-content: flex-start;
}
.icon-heading{
    flex: 1;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #626262;
}
.icon-heading i{
    color: #3B4FE4;
}
.btn-blue{
    background-color: #3B4FE4;
    border: 1px solid #3B4FE4;
    color: #fff;
}
.more-courses-container{
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
}
.course{
    display: flex;
    flex-direction: column;
    max-width: 380px;
    align-items: center;
    margin: 40px 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    background: #fff;
    border-radius: 20px;
    margin: 10px;
}
.course-img{
    width: 100%;
}
.course-img img{
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
}
.course-body{
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
}
.course-category{
    color: #626262;
    text-transform: uppercase;
    font-size: 12px;
    margin: 5px 0px;
}
.course-title{
    font-size: 1.3rem;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
    margin-top: 5px;
}
.course-icons-row{
    display: flex;
    justify-content: space-between;
}
.course-icon-heading{
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #626262;
}
.course-btn{
    margin: 10px auto;
    transition: 0.3s;
}
.course-btn:hover{
    background-color: #ff0000;
    border-color: #ff0000;
}
.dots-right{
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    z-index: -1;
    margin-bottom: -200px;
}
.btn{
    padding: 20px 20px;
    border-radius: 30px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500px;
    font-family: 'Roboto';
    margin-right: 10px;
    cursor: pointer;
}
.course-text{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 10px;
    color: #626262;
    font-size: 1.3rem;
    color: #333333;
    margin-bottom: 20px;
    margin-top: 5px;
}
#about{
    padding-top: 50px;
}
.about-container{
    display: flex;
    flex-direction: column;
}
.skills-row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}