      <div class="mt-1 flex flex-col sm:mt-0 sm:flex-row sm:flex-wrap sm:space-x-6">
        <div class="mt-2 flex items-center text-sm text-gray-500">
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original-wordmark.svg" alt="python" width="45" height="45" />  
        </div>
        <div class="mt-2 flex text-lg text-gray-500">
            <button>
                python
            </button>
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500">
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="45" height="45" />
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500">
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" alt="react" width="45" height="45" />
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="html" width="45" height="45"/>
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500">
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain.svg" alt="bootstrap" width="45" height="45" />
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500">
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="45" height="45" />
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500">
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original.svg" alt="mongodb" width="45" height="45" />
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500">
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg" alt="mysql" width="45" height="45" />
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flutter/flutter-original.svg" alt="flutter" width="45" height="45"/>
        </div>
      </div>