 <section id="course">
    <div class="featured-course-container">
        <div class="featured-course-content">
            <div class="small-heading gray">
                <span>
                    <i class="fa fa-circle yellow"></i>
                </span>
                Welcome to the MSI of Technology
            </div>
            <div class="feature-course-title">
                <h3>Getting Started With Python For Beginners</h3>
            </div>
            <div class="featured-course-dese">
                Python is a computer programming language often used to build websites and software, 
                automate tasks, and conduct data analysis. Python is a general-purpose language, meaning 
                it can be used to create a variety of different programs and isn’t specialized for any 
                specific problems.
            </div>
            <div class="featured-course-icon-container">
                <div class="icons-row">
                    <div class="icon-heading">
                        <span><i class="fa fa-check-circle blue"></i></span> 
                        fundamentals. 
                    </div>
                    <div class="icon-heading">
                        <span><i class="fa fa-check-circle blue"></i></span> 
                        OOP's concept.
                    </div>
                </div>
                <div class="icons-row">
                    <div class="icon-heading">
                        <span><i class="fa fa-check-circle blue"></i></span> 
                        funtional programming. 
                    </div>
                    <div class="icon-heading">
                        <span><i class="fa fa-check-circle blue"></i></span> 
                        projects.
                    </div>
                </div>
                <button class="btn btn-blue">
                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original-wordmark.svg" alt="python" width="45" height="45" /> 
                    Get Full Course for free                    
                </button>
            </div>
        </div>
        <!-- <div class="dots-right">
            <img src="assets/images/dot.png" alt="">
        </div> -->
        <div class="more-courses-container">
            <div class="course">
            <div class="course-img">
                <img src="assets/images/cohtml.jpg" alt="">
            </div>
            <div class="course-body">
                <div class="course-category">web designing</div>
                <div class="course-title">HTML5 web component Fundamentals</div>
                <div class="course-icons-row">
                    <div class="course-text">
                        <p>
                            HyperText Markup Language is the computer language that facilitates website creation. 
                            The language, which has code words and syntax just like any other language, is relatively easy
                             to comprehend and
                        </p>
                    </div>
                    <!-- <div class="course-icon-heading-gray">
                        <span><i class="fa fa-user gray"></i></span>
                        Beginners.
                    </div>       -->
                    <!-- <div class="course-icon-heading-gray">
                        <span><i class="fa fa-hourglass gray"></i></span>
                        1hr 23min
                    </div> -->
                </div>
                <div class="mt-2 flex items-center text-sm text-gray-500">
                    <button>
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="html" width="45" height="45"/>
                        <p>
                            HTML
                        </p>
                    </button>
                </div>
                <button class="btn btn-blue course-btn">Weath on Online</button>
            </div>
            </div>
            <div class="course">
                <div class="course-img">
                    <img src="assets/images/cocss.jpg" alt="">
                </div>
                <div class="course-body">
                    <div class="course-category">web designing</div>
                    <div class="course-title">master css 3 with real world projects</div>
                    <div class="course-icons-row">
                        <div class="course-text">
                            <p>
                                Cascading Style Sheets (CSS) is a stylesheet language used to describe the presentation of a document
                                written in HTML or XML (including XML dialects such as SVG, MathML or XHTML). CSS describes how elements
                            </p>
                        </div>
                        <!-- <div class="course-icon-heading-gray">
                            <span><i class="fa fa-user gray"></i></span>
                            Intermediate.
                        </div> -->
                        <!-- <div class="course-icon-heading-gray">
                            <span><i class="fa fa-hourglass gray"></i></span>
                            2hr 25min
                        </div> -->
                    </div>
                    <div class="mt-2 flex items-center text-sm text-gray-500">
                        <button>
                            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="45" height="45" />
                            <p>
                                CSS
                            </p>
                        </button>
                    </div>
                    <button class="btn btn-blue course-btn">Weath on Online</button>
                </div>
                </div>
                <div class="course">
                    <div class="course-img">
                        <img src="assets/images/coc.jpg" alt="">
                    </div>
                    <div class="course-body">
                        <div class="course-category">programming</div>
                        <div class="course-title">Complete Javascript Programming Course</div>
                        <div class="course-icons-row">
                            <div class="course-text">
                                <p>
                                    JavaScript's dynamic capabilities include runtime object construction, variable parameter lists, function variables,
                                     dynamic script creation (via eval), object introspection (via for...in and Object utilities), and source-code
                                </p>
                            </div>
                            <!-- <div class="course-icon-heading-gray">
                                <span><i class="fa fa-user gray"></i></span>
                                Beginners.
                            </div>
                            <div class="course-icon-heading-gray">
                                <span><i class="fa fa-hourglass gray"></i></span>
                                8hr 58min
                            </div> -->
                        </div>
                        <div class="mt-2 flex items-center text-sm text-gray-500">
                            <button>
                                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="45" height="45" />
                                <p>
                                    JavaScript
                                </p>
                            </button>         
                        </div>
                        <button class="btn btn-blue course-btn">Weath on Online</button>
                    </div>
                </div>
                <div class="course">
                    <div class="course-img">
                        <img src="assets/images/cocss.jpg" alt="">
                    </div>
                    <div class="course-body">
                        <div class="course-category">web designing</div>
                        <div class="course-title">master css 3 with real world projects</div>
                        <div class="course-icons-row">
                            <div class="course-text">
                                <p>
                                    Cascading Style Sheets (CSS) is a stylesheet language used to describe the presentation of a document
                                    written in HTML or XML (including XML dialects such as SVG, MathML or XHTML). CSS describes how elements
                                </p>
                            </div>
                            <!-- <div class="course-icon-heading-gray">
                                <span><i class="fa fa-user gray"></i></span>
                                Intermediate.
                            </div> -->
                            <!-- <div class="course-icon-heading-gray">
                                <span><i class="fa fa-hourglass gray"></i></span>
                                2hr 25min
                            </div> -->
                        </div>
                        <div class="mt-2 flex items-center text-sm text-gray-500">
                            <button>
                                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="45" height="45" />
                                <p>
                                    CSS
                                </p>
                            </button>
                        </div>
                        <button class="btn btn-blue course-btn">Weath on Online</button>
                    </div>
                    </div>
                    <div class="course">
                        <div class="course-img">
                            <img src="assets/images/cocss.jpg" alt="">
                        </div>
                        <div class="course-body">
                            <div class="course-category">web designing</div>
                            <div class="course-title">master css 3 with real world projects</div>
                            <div class="course-icons-row">
                                <div class="course-text">
                                    <p>
                                        Cascading Style Sheets (CSS) is a stylesheet language used to describe the presentation of a document
                                        written in HTML or XML (including XML dialects such as SVG, MathML or XHTML). CSS describes how elements
                                    </p>
                                </div>
                                <!-- <div class="course-icon-heading-gray">
                                    <span><i class="fa fa-user gray"></i></span>
                                    Intermediate.
                                </div> -->
                                <!-- <div class="course-icon-heading-gray">
                                    <span><i class="fa fa-hourglass gray"></i></span>
                                    2hr 25min
                                </div> -->
                            </div>
                            <div class="mt-2 flex items-center text-sm text-gray-500">
                                <button>
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="45" height="45" />
                                    <p>
                                        CSS
                                    </p>
                                </button>
                            </div>
                            <button class="btn btn-blue course-btn">Weath on Online</button>
                        </div>
                        </div>
                        <div class="course">
                            <div class="course-img">
                                <img src="assets/images/cocss.jpg" alt="">
                            </div>
                            <div class="course-body">
                                <div class="course-category">web designing</div>
                                <div class="course-title">master css 3 with real world projects</div>
                                <div class="course-icons-row">
                                    <div class="course-text">
                                        <p>
                                            Cascading Style Sheets (CSS) is a stylesheet language used to describe the presentation of a document
                                            written in HTML or XML (including XML dialects such as SVG, MathML or XHTML). CSS describes how elements
                                        </p>
                                    </div>
                                    <!-- <div class="course-icon-heading-gray">
                                        <span><i class="fa fa-user gray"></i></span>
                                        Intermediate.
                                    </div> -->
                                    <!-- <div class="course-icon-heading-gray">
                                        <span><i class="fa fa-hourglass gray"></i></span>
                                        2hr 25min
                                    </div> -->
                                </div>
                                <div class="mt-2 flex items-center text-sm text-gray-500">
                                    <button>
                                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="45" height="45" />
                                        <p>
                                            CSS
                                        </p>
                                    </button>
                                </div>
                                <button class="btn btn-blue course-btn">Weath on Online</button>
                            </div>
                            </div>
                            <div class="course">
                                <div class="course-img">
                                    <img src="assets/images/cocss.jpg" alt="">
                                </div>
                                <div class="course-body">
                                    <div class="course-category">web designing</div>
                                    <div class="course-title">master css 3 with real world projects</div>
                                    <div class="course-icons-row">
                                        <div class="course-text">
                                            <p>
                                                Cascading Style Sheets (CSS) is a stylesheet language used to describe the presentation of a document
                                                written in HTML or XML (including XML dialects such as SVG, MathML or XHTML). CSS describes how elements
                                            </p>
                                        </div>
                                        <!-- <div class="course-icon-heading-gray">
                                            <span><i class="fa fa-user gray"></i></span>
                                            Intermediate.
                                        </div> -->
                                        <!-- <div class="course-icon-heading-gray">
                                            <span><i class="fa fa-hourglass gray"></i></span>
                                            2hr 25min
                                        </div> -->
                                    </div>
                                    <div class="mt-2 flex items-center text-sm text-gray-500">
                                        <button>
                                            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="45" height="45" />
                                            <p>
                                                CSS
                                            </p>
                                        </button>
                                    </div>
                                    <button class="btn btn-blue course-btn">Weath on Online</button>
                                </div>
                                </div>
                                <div class="course">
                                    <div class="course-img">
                                        <img src="assets/images/cocss.jpg" alt="">
                                    </div>
                                    <div class="course-body">
                                        <div class="course-category">web designing</div>
                                        <div class="course-title">master css 3 with real world projects</div>
                                        <div class="course-icons-row">
                                            <div class="course-text">
                                                <p>
                                                    Cascading Style Sheets (CSS) is a stylesheet language used to describe the presentation of a document
                                                    written in HTML or XML (including XML dialects such as SVG, MathML or XHTML). CSS describes how elements
                                                </p>
                                            </div>
                                            <!-- <div class="course-icon-heading-gray">
                                                <span><i class="fa fa-user gray"></i></span>
                                                Intermediate.
                                            </div> -->
                                            <!-- <div class="course-icon-heading-gray">
                                                <span><i class="fa fa-hourglass gray"></i></span>
                                                2hr 25min
                                            </div> -->
                                        </div>
                                        <div class="mt-2 flex items-center text-sm text-gray-500">
                                            <button>
                                                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="45" height="45" />
                                                <p>
                                                    CSS
                                                </p>
                                            </button>
                                        </div>
                                        <button class="btn btn-blue course-btn">Weath on Online</button>
                                    </div>
                                    </div>
                                    <div class="course">
                                        <div class="course-img">
                                            <img src="assets/images/cocss.jpg" alt="">
                                        </div>
                                        <div class="course-body">
                                            <div class="course-category">web designing</div>
                                            <div class="course-title">master css 3 with real world projects</div>
                                            <div class="course-icons-row">
                                                <div class="course-text">
                                                    <p>
                                                        Cascading Style Sheets (CSS) is a stylesheet language used to describe the presentation of a document
                                                        written in HTML or XML (including XML dialects such as SVG, MathML or XHTML). CSS describes how elements
                                                    </p>
                                                </div>
                                                <!-- <div class="course-icon-heading-gray">
                                                    <span><i class="fa fa-user gray"></i></span>
                                                    Intermediate.
                                                </div> -->
                                                <!-- <div class="course-icon-heading-gray">
                                                    <span><i class="fa fa-hourglass gray"></i></span>
                                                    2hr 25min
                                                </div> -->
                                            </div>
                                            <div class="mt-2 flex items-center text-sm text-gray-500">
                                                <button>
                                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="45" height="45" />
                                                    <p>
                                                        CSS
                                                    </p>
                                                </button>
                                            </div>
                                            <button class="btn btn-blue course-btn">Weath on Online</button>
                                        </div>
                                        </div>
        </div>
        
    </div>
 </section>

<div class="mt-1 flex flex-col sm:mt-0 sm:flex-row sm:flex-wrap sm:space-x-6">
        <div class="mt-2 flex items-center text-sm text-gray-500">
            <button>
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original-wordmark.svg" alt="python" width="45" height="45" /> 
                <p>
                    Python
                </p> 
            </button>       
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500">
            <button>
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="45" height="45" />
                <p>
                    JavaScript
                </p>
            </button>         
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500">
            <button>
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" alt="react" width="45" height="45" />
                <p>
                    React
                </p>
            </button>
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500">
            <button>
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="html" width="45" height="45"/>
                <p>
                    HTML
                </p>
            </button>
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500">
            <button>
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain.svg" alt="bootstrap" width="45" height="45" />
                <p>
                    BootStrap
                </p>
            </button>
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500">
            <button>
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="45" height="45" />
                <p>
                    CSS
                </p>
            </button>
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500">
            <button>
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original.svg" alt="mongodb" width="45" height="45" />
                <p>
                    MongoDB
                </p>
            </button>
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500">
            <button>
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg" alt="mysql" width="45" height="45" />
                <p>
                    MySQL
                </p>
            </button>
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500">
            <button>
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flutter/flutter-original.svg" alt="flutter" width="45" height="45"/>
                <p>
                    Flutter 
                </p>
            </button>
        </div>
        <!-- <div class="mt-2 flex items-center text-sm text-gray-500">
            <button>
                <img src="assets/images/vuejs.png" alt="vuejs">
                <p>
                    Flutter 
                </p>
            </button>
        </div> -->
        <!-- <div class="mt-2 flex items-center text-sm text-gray-500">
            <button>
                <img src="assets/images/angular.png" alt="vuejs">
                <p>
                    Flutter 
                </p>
            </button>
        </div> -->
      </div>

      <section id="about">
        <div class="about-container">
            <div class="skills-row">
                <!-- <img src="assets/images/html.png" alt="html"> -->
                <!-- <img src="assets/images/css.png" alt="css"> -->
                <!-- <img src="assets/images/js.png" alt="js"> -->
                <!-- <img src="assets/images/nodejs.png" alt="nodejs"> -->
                <!-- <img src="assets/images/Python.webp" alt="python"> -->
                <!-- <img src="assets/images/react.png" alt="react"> -->
                <!-- <img src="assets/images/vuejs.png" alt="vuejs"> -->
                <!-- <img src="assets/images/flutter.png" alt="flutter"> -->
                <!-- <img src="assets/images/angular.png" alt="angular"> -->
            </div>
        </div>
      </section>