 <section id="course">
    <div class="featured-course-container">
        <div class="featured-course-content">
            <div class="small-heading gray">
                <span>
                    <i class="fa fa-circle yellow"></i>
                </span>
                Welcome to the MSI of Technology
            </div>
            <div class="feature-course-title">
                <h3>Getting Started With Python For Beginners</h3>
            </div>
            <div class="featured-course-dese">
                Python is a computer programming language often used to build websites and software, 
                automate tasks, and conduct data analysis. Python is a general-purpose language, meaning 
                it can be used to create a variety of different programs and isn’t specialized for any 
                specific problems.
            </div>
            <div class="featured-course-icon-container">
                <div class="icons-row">
                    <div class="icon-heading">
                        <span><i class="fa fa-check-circle blue"></i></span> 
                        fundamentals. 
                    </div>
                    <div class="icon-heading">
                        <span><i class="fa fa-check-circle blue"></i></span> 
                        OOP's concept.
                    </div>
                </div>
                <div class="icons-row">
                    <div class="icon-heading">
                        <span><i class="fa fa-check-circle blue"></i></span> 
                        funtional programming. 
                    </div>
                    <div class="icon-heading">
                        <span><i class="fa fa-check-circle blue"></i></span> 
                        projects.
                    </div>
                </div>
                <button class="btn btn-blue">
                    <!-- <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original-wordmark.svg" alt="python" width="45" height="45" />  -->
                    Get Full Course                    
                </button>
            </div>
        </div>
        <!-- <div class="dots-right">
            <img src="assets/images/dot.png" alt="">
        </div> -->
        <div class="more-courses-container">
            <div class="course">
                <div class="course-img">
                    <img src="assets/images/cohtml.jpg" alt="">
                </div>
            <div class="course-body">
                <div class="course-category">web designing</div>
                <div class="course-title">HTML5 web component Fundamentals</div>
                <div class="course-icons-row">
                    <div class="course-text">
                        <p>
                            HyperText Markup Language is the computer language that facilitates website creation...
                        </p>
                    </div>
                    <!-- <div class="course-icon-heading-gray">
                        <span><i class="fa fa-user gray"></i></span>
                        Beginners.
                    </div>       -->
                    <!-- <div class="course-icon-heading-gray">
                        <span><i class="fa fa-hourglass gray"></i></span>
                        1hr 23min
                    </div> -->
                </div>
                <div class="mt-2 flex items-center text-sm text-gray-500">
                    <button (click)="goTohtml()">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="html" width="45" height="45"/>
                        <p>
                            HTML
                        </p>
                    </button>
                </div>
                <button routerLink="/htm" class="btn btn-blue course-btn">Weath on Online</button>
            </div>
            </div>
            <div class="course">
                <div class="course-img">
                    <img src="assets/images/cocss.jpg" alt="">
                </div>
                <div class="course-body">
                    <div class="course-category">web designing</div>
                    <div class="course-title">master css 3 with real world projects</div>
                    <div class="course-icons-row">
                        <div class="course-text">
                            <p>
                                Cascading Style Sheets (CSS) is a stylesheet language used to describe ....
                            </p>
                        </div>
                        <!-- <div class="course-icon-heading-gray">
                            <span><i class="fa fa-user gray"></i></span>
                            Intermediate.
                        </div> -->
                        <!-- <div class="course-icon-heading-gray">
                            <span><i class="fa fa-hourglass gray"></i></span>
                            2hr 25min
                        </div> -->
                    </div>
                    <div class="mt-2 flex items-center text-sm text-gray-500">
                        <button>
                            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="45" height="45" />
                            <p>
                                CSS
                            </p>
                        </button>
                    </div>
                    <button class="btn btn-blue course-btn">Weath on Online</button>
                </div>
            </div>
            <div class="course">
                <div class="course-img">
                    <img src="assets/images/coc.jpg" alt="">
                </div>
                <div class="course-body">
                    <div class="course-category">web designing</div>
                    <div class="course-title">Complete Javascript Programming Course</div>
                    <div class="course-icons-row">
                        <div class="course-text">
                            <p>
                                JavaScript's dynamic capabilities include runtime object construction, variable parameter ....
                            </p>
                        </div>
                            <!-- <div class="course-icon-heading-gray">
                                <span><i class="fa fa-user gray"></i></span>
                                Beginners.
                            </div>
                            <div class="course-icon-heading-gray">
                                <span><i class="fa fa-hourglass gray"></i></span>
                                8hr 58min
                            </div> -->
                    </div>
                    <div class="mt-2 flex items-center text-sm text-gray-500">
                        <button>
                            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="45" height="45" />
                            <p>
                                JavaScript
                            </p>
                        </button>         
                    </div>
                    <button class="btn btn-blue course-btn">Weath on Online</button>
                </div>
            </div>                          
        </div>
        <div class="more-courses-container">
            <div class="course">
                <div class="course-img">
                    <img src="assets/images/react.jpg" alt="">
                </div>
                <div class="course-body">
                    <div class="course-category">frontend</div>
                    <div class="course-title">ReactJs is a declarative, efficient and flexible</div>
                    <div class="course-icons-row">
                        <div class="course-text">
                            <p>
                                React is one of the most popular frontend JavaScript libraries for building user interfaces...
                            </p>
                        </div>
                        <!-- <div class="course-icon-heading-gray">
                            <span><i class="fa fa-user gray"></i></span>
                            Intermediate.
                        </div> -->
                        <!-- <div class="course-icon-heading-gray">
                            <span><i class="fa fa-hourglass gray"></i></span>
                            2hr 25min
                        </div> -->
                    </div>
                    <div class="mt-2 flex items-center text-sm text-gray-500">
                        <button>
                            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" alt="react" width="45" height="45" />
                            <p>
                                React
                            </p>
                        </button>
                    </div>
                    <button class="btn btn-blue course-btn">Weath on Online</button>
                </div>
            </div>
            <div class="course">
                <div class="course-img">
                    <img src="assets/images/python.png" alt="">
                </div>
                <div class="course-body">
                    <div class="course-category">programming</div>
                    <div class="course-title">Python is a computer programming language</div>
                    <div class="course-icons-row">
                        <div class="course-text">
                            <p>
                                Python has become one of the most popular programming languages in the world in recent ....
                            </p>
                        </div>
                            <!-- <div class="course-icon-heading-gray">
                                <span><i class="fa fa-user gray"></i></span>
                                Intermediate.
                            </div> -->
                            <!-- <div class="course-icon-heading-gray">
                                <span><i class="fa fa-hourglass gray"></i></span>
                                2hr 25min
                            </div> -->
                    </div>
                    <div class="mt-2 flex items-center text-sm text-gray-500">
                        <button>
                            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original-wordmark.svg" alt="python" width="45" height="45" /> 
                            <p>
                                Python
                            </p> 
                         </button>       
                    </div>
                    <button class="btn btn-blue course-btn">Weath on Online</button>
                </div>
            </div>
            <div class="course">
                        <div class="course-img">
                            <img src="assets/images/boot.jpg" alt="">
                        </div>
                        <div class="course-body">
                            <div class="course-category">CSS Framework</div>
                            <div class="course-title">Build fast, responsive sites with Bootstrap</div>
                            <div class="course-icons-row">
                                <div class="course-text">
                                    <p>
                                        Powerful, extensible, and feature-packed frontend toolkit...
                                    </p>
                                </div>
                                <!-- <div class="course-icon-heading-gray">
                                    <span><i class="fa fa-user gray"></i></span>
                                    Intermediate.
                                </div> -->
                                <!-- <div class="course-icon-heading-gray">
                                    <span><i class="fa fa-hourglass gray"></i></span>
                                    2hr 25min
                                </div> -->
                            </div>
                            <div class="mt-2 flex items-center text-sm text-gray-500">
                                <button>
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain.svg" alt="bootstrap" width="45" height="45" />
                                    <p>
                                        BootStrap
                                    </p>
                                </button>
                            </div>
                            <button class="btn btn-blue course-btn">Weath on Online</button>
                        </div>
            </div>
        </div>
        <div class="more-courses-container">
            <div class="course">
                <div class="course-img">
                    <img src="assets/images/mongo.jpg" alt="">
                </div>
                <div class="course-body">
                    <div class="course-category">document database</div>
                    <div class="course-title">Makes development easy with MongoDB</div>
                    <div class="course-icons-row">
                        <div class="course-text">
                            <p>
                                MongoDB’s document model is simple for developers to learn and use...
                            </p>
                        </div>
                        <!-- <div class="course-icon-heading-gray">
                            <span><i class="fa fa-user gray"></i></span>
                            Intermediate.
                        </div> -->
                        <!-- <div class="course-icon-heading-gray">
                            <span><i class="fa fa-hourglass gray"></i></span>
                            2hr 25min
                        </div> -->
                    </div>
                    <div class="mt-2 flex items-center text-sm text-gray-500">
                        <button>
                            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original.svg" alt="mongodb" width="45" height="45" />
                            <p>
                                MongoDB
                            </p>
                        </button>
                    </div>
                    <button class="btn btn-blue course-btn">Weath on Online</button>
                </div>
            </div>
            <div class="course">
                    <div class="course-img">
                        <img src="assets/images/sql.jpg" alt="">
                    </div>
                    <div class="course-body">
                        <div class="course-category">technologies</div>
                        <div class="course-title">Relational database management system</div>
                        <div class="course-icons-row">
                            <div class="course-text">
                                <p>
                                    MySQL is integral to many of the most popular software stacks for building ...
                                </p>
                            </div>
                            <!-- <div class="course-icon-heading-gray">
                                <span><i class="fa fa-user gray"></i></span>
                                Intermediate.
                            </div> -->
                            <!-- <div class="course-icon-heading-gray">
                                <span><i class="fa fa-hourglass gray"></i></span>
                                2hr 25min
                            </div> -->
                        </div>
                        <div class="mt-2 flex items-center text-sm text-gray-500">
                            <button>
                                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg" alt="mysql" width="45" height="45" />
                                <p>
                                    MySQL
                                </p>
                            </button>
                        </div>
                        <button class="btn btn-blue course-btn">Weath on Online</button>
                    </div>
            </div>
            <div class="course">
                <div class="course-img">
                    <img src="assets/images/flut.png" alt="">
                </div>
                <div class="course-body">
                    <div class="course-category">Google’s portable UI</div>
                    <div class="course-title"> open-source UI software development</div>
                    <div class="course-icons-row">
                        <div class="course-text">
                            <p>
                                Flutter is Google’s portable UI toolkit for crafting beautiful, natively ...
                            </p>
                        </div>
                        <!-- <div class="course-icon-heading-gray">
                            <span><i class="fa fa-user gray"></i></span>
                            Intermediate.
                        </div> -->
                        <!-- <div class="course-icon-heading-gray">
                            <span><i class="fa fa-hourglass gray"></i></span>
                            2hr 25min
                        </div> -->
                    </div>
                    <div class="mt-2 flex items-center text-sm text-gray-500">
                        <button>
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flutter/flutter-original.svg" alt="flutter" width="45" height="45"/>
                            <p>
                                Flutter 
                            </p>
                        </button>
                    </div>
                    <button class="btn btn-blue course-btn">Weath on Online</button>
                </div>
            </div>
        </div>
    </div>
 </section>
