<!-- <p>fimg works!</p> -->
<section class="about">
    <div class="main">
        <img src="assets/images/one.jpg" alt="">
        <div class="about-text">
            <h2>About LUFFY</h2>
            <h5>Developer <span>& Desginer</span></h5>
            <p>
                Monkey D. Luffy, also known as "Straw Hat Luffy" and commonly as "Straw Hat", is the main protagonist of the manga 
                and anime, One Piece. He is the founder and captain of the increasingly infamous and powerful Straw Hat Pirates, as well
                as one of its top fighters. He desires to find the legendary treasure left behind by the late Gol D. Roger and 
                thereby become the Pirate King, which would help facilitate an unknown dream of his that he has told only to his
                brothers and crew. He believes that being the Pirate King means having the most freedom in the world.
                Born in Foosha Village, Luffy is the son of Monkey D. Dragon, the leader of the Revolutionary Army, and the grandson of the 
                Marine hero Monkey D. Garp, and their family carries the initial and Will of D. Luffy met "Red-Haired" Shanks, who gave 
                Luffy the very straw hat that has become Luffy's signature accessory, having gifted it to the boy as part of a promise for 
                them to meet again someday after he became a great pirate.
            </p>
            <button type="button">Let's talk</button>
            <button (click)="goToInstructor()">
                Instructor
            </button>
        </div>
    </div>
</section>
