<!-- <p>flut works!</p> -->

<section id="html">
    <div class="rev-section">
        <h2 class="title">
            Flutter Page
        </h2>
        <p class="note">
            The framework for cross-platform applications
        </p>
        <div class="reviews">
            <div class="review">
                <div class="head-review">
                    <img src="assets/images/flut.jpg" alt="" width="250px">
                </div>
            </div>
            <div class="body-review">
                <div class="namve-review">
                    Flutter
                </div>
                <div class="place-review">
                    Google
                </div>
                <div class="desc-review">
                    Flutter is an open-source software development kit which enables smooth and easy cross-platform mobile app development. 
                    You can build high quality natively compiled apps for iOS and Android quickly, without having to write the code for the 
                    two apps separately. All you need is one codebase for both platforms.
                    Last year, Tim Sneath, product manager of Flutter announced an increasing use of Flutter with more than 2 million 
                    developers using the toolkit since its release in 2018. The spring update also reveals that it's seeing an uptick in not 
                    just consumer apps but also enterprise app development.
                    In this article we are going to introduce this developer-friendly app development language. We’ll explain what Flutter is,
                    and we will brief out its advantages and disadvantages.
                </div>
            </div>
        </div>
    </div>

    <div class="btn-container">
        <button class="btn btn-white" (click)="goToCourses()">
            Go to Courses
        </button>
    </div>
</section>


