<!-- <p>web-basic works!</p> -->

<section id="html">
    <div class="rev-section">
        <h2 class="title">
            MySql Page
        </h2>
        <p class="note">
            MySQL is a relational database management system (RDBMS) is based on structured query language (SQL).
        </p>
        <div class="reviews">
            <div class="review">
                <div class="head-review">
                    <img src="assets/images/ms.jpg" alt="" width="250px">
                </div>
            </div>
            <div class="body-review">
                <div class="namve-review">
                    MySql
                </div>
                <div class="place-review">
                    supported by Oracle
                </div>
                <div class="desc-review">
                    MySQL is one of the most recognizable technologies in the modern big data ecosystem. Often called the most popular 
                    database and currently enjoying widespread, effective use regardless of industry, it’s clear that anyone involved 
                    with enterprise data or general IT should at least aim for a basic familiarity of MySQL.
                    With MySQL, even those new to relational systems can immediately build fast, powerful, and secure data storage 
                    systems. MySQL’s programmatic syntax and interfaces are also perfect gateways into the wide world of other popular 
                    query languages and structured data stores.
                </div>
            </div>
        </div>
    </div>

    <div class="btn-container">
        <button class="btn btn-white" (click)="goToCourses()">
            Go to Courses
        </button>
    </div>
</section>


