<!-- <p>instructor works!</p> -->
<section id="reviews">
    <div class="reviews-container">
        <div class="reviews-heading-row">
            <div class="reviews-heading">
                <div class="small-heading gray">
                    <span><i class="fa fa-circle yellow"></i></span>
                    Reviews for private instructor
                </div>
                <h2>What our private students says about MSI Answer</h2>
            </div>
            <div class="reviews-bth-container">
                <button class="btn btn-outline-blue">hire private instructor</button>
            </div>
        </div>
        <div class="reviews-row">
            <div class="review">
                <div class="review-img">
                    <img src="assets/images/luffy.jpg" alt="">
                    <div class="student-name">
                         Monkey D. Luffy - Japan
                    </div>
                </div>
                <button routerLink="/fimg">         
                    <div class="review-message">
                        Monkey D. Luffy, also known as "Straw Hat Luffy" and commonly as "Straw Hat",[11] is the main protagonist of the 
                        manga and anime, One Piece. He is the founder and captain of the increasingly infamous and powerful Straw Hat Pirates,
                        as well as one of its top fighters....
                    </div>
                </button>                      
            </div>
            <div class="review">
                <div class="review-img">
                    <img src="assets/images/ichi.jpg" alt="">
                    <div class="student-name">
                        Ichigo Kurosaki - Japan
                    </div>
                </div>
                <button routerLink="/simg">
                    <div class="review-message">
                        I'm not saying I don't remember your blade. I'm saying I don't remember your heart. When you cross blades, you can 
                        tell a little of what your opponent's thinking. I'm not saying you can read their mind or anything like that, but you
                        can tell what kind of resolve lies.....
                    </div>
                </button>      
            </div>          
        </div>
        <div class="reviews-row">
            <div class="review">
                <div class="review-img">
                    <img src="assets/images/naruto.jpg" alt="">
                    <div class="student-name">
                        Naruto Uzumaki - Japan
                    </div>
                </div>
                <button routerLink="/timg">
                    <div class="review-message">
                        Naruto, created by Masashi Kishimoto. As the series progresses, he is a young ninja from the fictional village of 
                        Konohagakure (Hidden Leaf Village). The villagers ridicule and ostracize Naruto on account of the Nine-Tailed Demon 
                        Fox—a malevolent creature that attacked.....
                    </div>
                </button>
            </div>
            <div class="review">
                <div class="review-img">
                    <img src="assets/images/gojo.jpg" alt="">
                    <div class="student-name">
                        Satoru Gojo - Japan
                    </div>
                </div>
                <button routerLink="/foimg">
                    <div class="review-message">
                        Satoru Gojo is the major character of the popular 2018 dark fantasy anime and manga series Jujutsu Kaisen. 
                        He is the strongest Jujutsu Sorcerer in the world, even rivalling and surpassing the King of Curses Sukuna himself.
                        Like most sorcerers, Satoru strived to protect the .....
                    </div>
                </button>            
            </div>
        </div>
    </div>
</section>