<!-- <p>htm works!</p> -->
<div class="rev-section">
    <h2 class="title">
        HTML Page
    </h2>
    <p class="note">
        HyperText Markup Language (HTML) is the basic scripting language used by web browsers to render pages on the world wide web.
    </p>
    <div class="reviews">
        <div class="review">
            <div class="head-review">
                <img src="assets/images/tim.jpg" alt="" width="250px">
            </div>
        </div>
        <div class="body-review">
            <div class="namve-review">
                Html
            </div>
            <div class="place-review">
                Tim Berners-Lee
            </div>
            <div class="desc-review">
                HyperText Markup Language (HTML) is the set of markup symbols or codes inserted into a file intended for display 
                on the Internet. The markup tells web browsers how to display a web page's words and images.
                Each individual piece markup code (which would fall between "<" and ">" characters) is referred to as an element,
                though many people also refer to it as a tag. Some elements come in pairs that indicate when some display effect is
                to begin and when it is to end.
            </div>
        </div>
    </div>
</div>
<div class="rev-section">
    <h2 class="title">
        HTML Page
    </h2>
    <p class="note">
        HyperText Markup Language (HTML) is the basic scripting language used by web browsers to render pages on the world wide web.
    </p>
    <div class="reviews">
        <div class="review">
            <div class="head-review">
                <img src="assets/images/tim.jpg" alt="" width="250px">
            </div>
        </div>
        <div class="body-review">
            <div class="namve-review">
                Html
            </div>
            <div class="place-review">
                Tim Berners-Lee
            </div>
            <div class="desc-review">
                HyperText Markup Language (HTML) is the set of markup symbols or codes inserted into a file intended for display 
                on the Internet. The markup tells web browsers how to display a web page's words and images.
                Each individual piece markup code (which would fall between "<" and ">" characters) is referred to as an element,
                though many people also refer to it as a tag. Some elements come in pairs that indicate when some display effect is
                to begin and when it is to end.
            </div>
        </div>
    </div>
</div>
<div class="rev-section">
    <h2 class="title">
        HTML Page
    </h2>
    <p class="note">
        HyperText Markup Language (HTML) is the basic scripting language used by web browsers to render pages on the world wide web.
    </p>
    <div class="reviews">
        <div class="review">
            <div class="head-review">
                <img src="assets/images/tim.jpg" alt="" width="250px">
            </div>
        </div>
        <div class="body-review">
            <div class="namve-review">
                Html
            </div>
            <div class="place-review">
                Tim Berners-Lee
            </div>
            <div class="desc-review">
                HyperText Markup Language (HTML) is the set of markup symbols or codes inserted into a file intended for display 
                on the Internet. The markup tells web browsers how to display a web page's words and images.
                Each individual piece markup code (which would fall between "<" and ">" characters) is referred to as an element,
                though many people also refer to it as a tag. Some elements come in pairs that indicate when some display effect is
                to begin and when it is to end.
            </div>
        </div>
    </div>
</div>