<!-- <p>contactus works!</p> -->
<section id="contact">
    <div class="contact-container">
        <div class="contact-deatils">
            <div class="contact-deatails-heading">
                Contact Us
            </div>
            <div class="contact-deatil-row">
                <div class="contact-icon"><i class="fas fa-map-market-tal"></i></div>
                <div class="contact-content">
                    <div class="contact-title">Address :</div>
                    <div class="contact-desc">
                        The first written usages of baka were during the Nanboku-chō period (1336–1392), 
                        when the "Northern and Southern Courts" battled  
                    </div>
                </div>
            </div>
            <div class="separator"></div>
            <div class="contact-deatil-row">
                <div class="contact-icon"><i class="fas fa-phone"></i></div>
                <div class="contact-content">
                    <div class="contact-title">Call us :</div>
                    <div class="contact-desc">
                        +959 123 456 789
                    </div>
                </div>
            </div>
            <div class="separator"></div>
            <div class="contact-deatil-row">
                <div class="contact-icon"><i class="fas fa-envelope"></i></div>
                <div class="contact-content">
                    <div class="contact-title">Email :</div>
                    <div class="contact-desc">
                        info@oniichan@gmail.com
                    </div>
                </div>
            </div>
            <div class="separator"></div>                
            <div class="contact-title">Follow us :</div>
                <div class="social-icons">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instragram"></i>
                    <i class="fab fa-telegram"></i>
                </div>                  
        </div>
        <div class="conatact-form">
            <div class="contact-from-heading">
                Hire private instructor
            </div>
            <form action="">
                <div class="form-row">
                    <label for="name">Name <span class="red">*</span></label>
                    <input type="text" class="input-box">
                </div>
                <div class="form-row">
                    <label for="email">Email <span class="red">*</span></label>
                    <input type="text" class="input-box">
                </div>
                <div class="form-row">
                    <label for="subject">Subject <span class="red">*</span></label>
                    <input type="text" class="input-box">
                </div>
                <div class="form-row">
                    <label for="choice">What you want to learn? <span class="red">*</span></label>
                    <div class="checkbox-row">
                        <div class="checkbox">
                            <input type="checkbox">C/C++           
                        </div>
                        <div class="checkbox">
                            <input type="checkbox">Java          
                        </div>
                        <div class="checkbox">
                            <input type="checkbox">Python           
                        </div>
                    </div>
                    <div class="checkbox-row">
                        <div class="checkbox">
                            <input type="checkbox">HTML/CSS          
                        </div>
                        <div class="checkbox">
                            <input type="checkbox">JavaScript     
                        </div>
                        <div class="checkbox">
                            <input type="checkbox">WordPress       
                        </div>
                    </div>
                    <div class="checkbox-row">
                        <div class="checkbox">
                            <input type="checkbox">Bootstrap          
                        </div>
                        <div class="checkbox">
                            <input type="checkbox">JQuery     
                        </div>
                        <div class="checkbox">
                            <input type="checkbox">PHP           
                        </div>
                    </div>
                    <div class="checkbox-row">
                        <div class="checkbox">
                            <input type="checkbox">Other           
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <label for="message">Message <span class="red">*</span></label>
                    <textarea></textarea>
                </div>
                <button class="btn bth-blue">Send Message</button>
            </form>
        </div>
    </div>
</section>