<!-- <p>home works!</p> -->
<section id="header">
<div class="header-body">
    <div class="header-content">
      <div class="small-heading">
        <span>
          <i class="fa fa-circle green"></i>
        </span>
        welcome to the future of Technology
      </div>
      <h1 class="header-title">MSI Technology</h1>
      <div class="header-desc">
        MSI is a world leader in gaming, content creation, business & productivity and AIoT solutions. Bolstered by its 
        cutting-edge R&D capabilities and customer-driven innovation, MSI has a wide-ranging global presence spanning over 
        120 countries. Its comprehensive lineup of laptops, graphics cards, monitors, motherboards, desktops, peripherals,
         servers, IPCs, robotic appliances, and vehicle infotainment and telematics systems are globally acclaimed. Committed
          to advancing user experiences through the finest product quality, intuitive user interface and design aesthetics, 
          MSI is a leading brand that shapes the future of technology.
      </div>
      <div class="btn-container">
        <button class="btn btn-white">hire private instructor</button>
        <button class="btn btn-white">see free courses</button>
      </div>
    </div>
  </div>
</section>

<button (click)="goToCourses()">
    Courses
</button>


<button (click)="goToInstructor()">
    Instructor
</button>